.DS_Store
demo.dem
/parser-service/parser-service
/parser-service/service.log
/parser-service/app
/mock-server
/parser-service/config.yaml
/.idea
/backend/.phpbench
/parser-service/coverage.html
/node_modules
/web-app/.phpbench
/web-app/coverage.txt
/web-app/coverage-html
/web-app/coverage.xml
